#boxcheck{
    width: 290px;
    height: 50px;
    border: 1px solid black;
    border-right: none;
    position: absolute;
    box-shadow: -3px 3px 10px black;
    border-radius: 10px 0 0 10px;
    z-index: 2;
    left: 10px;
    top: 433px;
}

#viewbranchMain{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

#viewbranchMain>h1{
    height: 50px;
    width: 95%;
    display: flex;
    align-items: center;
}

#box{
    width: 95%;
    height: 500px;

}

#courseData{
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

#headers{
    width: 100%;
    height: 40px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 5px 5px 12px black;
}

#cid,#val_cid{
    width: 150px;
    height: 40px;
    border-right: 1px solid black;
}
#cduration,#val_cduration{
    width: 170px;
    height: 40px;
    border-right: 1px solid black;
}

#cfee,#val_cfee{
    width: 100px;
    height: 40px;
    border-right: 1px solid black;
}
#ctype,#val_ctype{
    width: 220px;
    height: 40px;
    border-right: 1px solid black;
}

#c_branchid,#val_c_branchid{
    width: 170px;
    height: 40px;
    border-right: 1px solid black;
}

#buttons,#btns{
    width: 240px;
    height: 40px;
}

#headers>p{
    display: flex;
    align-items: center;
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

#values{
    width: 100%;
    height: 40px;
    display: flex;
    border: 1px solid black;
    align-items: center;
    box-shadow: 5px 5px 10px black;
}
#values>p{
    height: 40px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

#btns{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#btns button{
    width: 100px;
    height: 30px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.116);
    transition: 0.2s;
    border-radius: 5px;
}

#btns button:focus{
    box-shadow: 5px 5px 10px black;
}